@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

body,
html {
  overflow-x: hidden;
}

body,
.home {
  font-family: "Nunito Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Hero Section */
.hero {
  background: linear-gradient(rgba(1, 5, 54, 0.7), rgba(1, 54, 40, 0.7)),
    url("https://s3.amazonaws.com/media.thecrimson.com/photos/2017/10/01/220933_1324562.jpg")
      no-repeat center center/cover;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  text-align: center;
  width: 100%;
}

.hero-text {
  color: rgb(255, 255, 255);
  text-align: center;
}
.hero-text h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.2;
  color: rgb(255, 255, 255) !important;
}

.hero-text p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #e0e0e0;
}

/* Countdown */
.countdown-row {
  /* display: flex; */
  justify-items: center;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
}

.countdown-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.timer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.time-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 50px;
}

.time-box span {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  margin-bottom: 5px;
  background: orange;
  color: whitesmoke;
  font-weight: 600;
}

.time-box small {
  font-size: 0.8rem;
  font-weight: normal;
  font-weight: 300;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .hero-text h1 {
    font-size: 2.3rem;
  }
  .hero-container {
    padding: 1.5rem;
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 70vh;
    padding: 0;
  }
  .hero-container {
    min-height: 50vh;
    padding: 2rem 1rem;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 1.7rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .countdown-row {
    flex-direction: column;
    gap: 1.2rem;
    margin: 2rem 0;
  }

  .timer {
    gap: 0.7rem;
  }
  .time-box span {
    padding: 0.6rem 0.9rem;
    font-size: 1rem;
    min-width: 40px;
  }
  .countdown-title {
    font-size: 1.1rem;
    min-width: 120px;
  }

  .hero-text {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .hero-container {
    padding: 0.5rem;
  }
  .hero-text h1 {
    font-size: 1.2rem;
  }
  .hero-text p {
    font-size: 0.95rem;
  }
  .countdown-row {
    gap: 0.7rem;
    margin: 1rem 0;
  }
  .time-box span {
    padding: 0.4rem 0.7rem;
    font-size: 0.95rem;
    min-width: 30px;
  }
  .countdown-title {
    font-size: 1rem;
    min-width: 90px;
  }
}
